* {
    background-color: #292727;
    color: #fff;
    font-family: 'Roboto';
    text-decoration: none;
    cursor: url("img/Sw8.gif"), auto;
}
main {
    width: 100%;
    display: flex;
}
#banniere {
    background-color: black;
    padding: 0 43.6%;
    margin: 0;
    height: 150px;
    margin-bottom: 0.5%;
}

nav {
    margin: 0 60%;
    margin-right: 10%;
}
button,
a {
    margin-right: 2%;
    padding: 2%;
    font-size: 18px;
}
button:hover {
    background-color: #eeecd793;
    color: #000;
    border-radius: 10%;
}
h1 {
    margin: 2%;
    width: 100%;
}
.search {
    padding: 1.5%;
    width: 80%;
    height: 2%;
    background-color: #413e3e;
    text-align: center;
    border-radius: 40%;
}
.search:hover {
    background-color: #535050;
    transition: 0.6s;
}
article {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    width: 30%;
    margin: 15% 1%;
}

section {
    padding: 2%;
    margin: 0 10%;
    border: #000 1px solid;
}

aside {
    padding: 2%;
    border: #000 1px solid;
    width: 100%;
    margin: 10% 10%;
    justify-content: center;
}

footer {
    margin: 0 45%;
}
h3 {
    text-align: center;
}