* {
    background-color: #292727;
    color: #fff;
    font-family: 'Roboto';
    text-decoration: none;
    cursor: url("img/Sw8.gif"), auto;
}
main {
    width: 98%;
    height: 70vh;
    display: flex;
    background-image: url(img/univers.jpg);
    margin: 1%;
}
#banniere {
    background-color: black;
    padding: 0 43.6%;
    margin: 0;
    height: 150px;
    margin-bottom: 0.5%;
}

nav {
    margin: 0 35%;
    margin-right: 10%;
}
a {
    margin-right: 2%;
    padding: 2%;
    font-size: 18px;
}

li {
    list-style-type: none;
}

.btnInfo {
    text-align: center;
    padding: 15%;
    width: 200%;
    height: 200px;
    margin-top: 10%;
    border: solid 5px #f6e118;
    border-radius: 5%;
}
.btnInfo:hover {
    border: solid 5px #77e411;
    border-radius: 5%;
}
.introduce {
    padding: 0.5%;
    margin: 2%;
    width: 30%;
    position: absolute;
}
.recherche {
    position: absolute;
    margin: 2% 70%;
    display: flex;
    flex-direction: row;
    color: #fff;
    background-color: #c2bcbc88;
}
input {
    width: 250px;
    color: #fff;
    font-weight: 800;
}
article {
    margin: 11% 3%;
    padding: 1%;
    justify-content: center;
    height: 400px;
}

aside {
    padding: 1%;
    border: #000 1px solid;
    width: 100%;
    margin: 10% 5%;
    justify-content: center;
    height: 420px;
}

footer {
    margin: 0 45%;
}
h3 {
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
    margin: 1% 5%;
    border: 1px solid #77e411;
    padding: 2%;
    height: 40vh;
}

#afficher {
    margin-left: 10%;
    padding: 1%;
    width: 35%;
    height: 350px;
    border: #000 1px solid;
}

button {
    margin: 0 1%;
    width: 120px;
    height: 40px;
    align-items: stretch;
    border: solid 1px #f6e118;
    border-radius: 10%;
    margin-bottom: 2%;
}
